<main>
  <section class="cv-access-section">
    <h1 appTextTyping [delayTypingAfterWord]="'CORNU'">
      Guillaume CORNU - Développeur web
    </h1>
    <a class="button" href="assets/pdfs/guillaume-cornu-cv.pdf" target="_blank">
      Mon CV
    </a>
  </section>
  <section class="developer-profile">
    <div class="presentation">
      <img src="assets/images/guillaume-cornu.webp" alt="Guillaume CORNU" />
      <div class="text-presentation">
        <p>
          J'ai découvert la programmation informatique avec le langage Python
          pendant mes études en école d'ingénieur. Mais n'ayant aucun diplôme
          dans ce domaine, j'ai saisi l'opportunité de rejoindre une start-up en
          tant que Product Builder. J'ai appris le langage de programmation
          interne à l'entreprise : le JetLang.
        </p>
        <p>
          Pendant mon temps libre, j'ai pu acquérir en autodidacte plusieurs
          compétences relatives au métier de développeur, ce qui m'a permis
          d'accomplir une transition professionnelle et de devenir développeur
          au sein de la même entreprise.
        </p>
      </div>
    </div>
  </section>
</main>
