<main>
  <section class="cv-access-section">
    <h1 appTextTyping [delayTypingAfterWord]="'CORNU'">
      Guillaume CORNU - Développeur web
    </h1>
    <a class="button" href="assets/pdfs/guillaume-cornu-cv.pdf" target="_blank">
      Mon CV
    </a>
  </section>
  <section class="developer-profile">
    <div class="presentation">
      <img alt="Guillaume CORNU" src="assets/images/guillaume-cornu.webp" />
      <aside class="text-presentation">
        <p>
          J'ai découvert la programmation informatique avec le langage Python
          pendant mes études en école d'ingénieur. Mais n'ayant aucun diplôme
          dans ce domaine, j'ai saisi l'opportunité de rejoindre une start-up en
          tant que Product Builder. J'ai appris le langage de programmation
          interne à l'entreprise : le JetLang.
        </p>
        <p>
          Pendant mon temps libre, j'ai pu acquérir en
          <strong>autodidacte</strong> plusieurs compétences relatives au métier
          de développeur, ce qui m'a permis d'accomplir une transition
          professionnelle et de devenir <strong>développeur</strong> au sein de
          la même entreprise.
        </p>
      </aside>
    </div>
    <h2>Mes compétences</h2>
    <ul class="skills">
      <app-skill
        [progressBarColor]="'rgba(255, 50, 50, 0.3)'"
        [progressValue]="95"
        [svgIcon]="{ fileName: 'html-logo', title: 'HTML' }"
      >
        HTML
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(255, 0, 200, 0.3)'"
        [progressValue]="95"
        [svgIcon]="{ fileName: 'sass-logo', title: 'SASS' }"
      >
        CSS/SCSS
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 100, 255, 0.3)'"
        [progressValue]="90"
        [svgIcon]="{ fileName: 'typescript-logo', title: 'TypeScript' }"
      >
        JavaScript/TypeScript
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(255, 0, 0, 0.3)'"
        [progressValue]="80"
        [svgIcon]="{ fileName: 'angular-logo', title: 'Angular' }"
      >
        Angular
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(255, 150, 0, 0.3)'"
        [progressValue]="80"
        [svgIcon]="{ fileName: 'git-logo', title: 'Git' }"
      >
        Git
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 180, 0, 0.3)'"
        [progressValue]="70"
        [svgIcon]="{ fileName: 'mongodb-logo', title: 'MongoDB' }"
      >
        MongoDB
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(255, 0, 50, 0.3)'"
        [progressValue]="70"
        [svgIcon]="{ fileName: 'nestjs-logo', title: 'NestJS' }"
      >
        NestJS
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 150, 255, 0.3)'"
        [progressValue]="60"
        [svgIcon]="{ fileName: 'docker-logo', title: 'Docker' }"
      >
        Docker
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 200, 255, 0.3)'"
        [progressValue]="60"
        [svgIcon]="{ fileName: 'react-logo', title: 'React' }"
      >
        React
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 0, 0, 0.3)'"
        [progressValue]="50"
        [svgIcon]="{ fileName: 'github-actions-logo', title: 'GitHub Actions' }"
      >
        GitHub Actions
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 0, 255, 0.3)'"
        [progressValue]="50"
        [svgIcon]="{ fileName: 'kubernetes-logo', title: 'Kubernetes' }"
      >
        Kubernetes (K8S)
      </app-skill>
      <app-skill
        [progressBarColor]="'rgba(0, 130, 0, 0.3)'"
        [progressValue]="50"
        [svgIcon]="{ fileName: 'nginx-logo', title: 'NGINX' }"
      >
        NGINX
      </app-skill>
    </ul>
  </section>
  <section class="projects">
    <h2>Projets</h2>
    <app-project
      [image]="'assets/images/kasa.webp'"
      [sourceCodeLink]="'https://github.com/guigui-payfit/kasa'"
      [title]="'Kasa'"
      [websiteLink]="'https://guigui-payfit.github.io/kasa/'"
    >
      <p description>
        Implémentation du front-end d'une application web de location
        immobilière à partir d'une maquette
      </p>
      <ul objectives>
        <li>Créer une expérience utilisateur moderne et réactive</li>
        <li>
          Implémenter une interface responsive à partir d'une maquette
          (animations comprises)
        </li>
        <li>Utiliser des données simulées extraites d'un fichier JSON</li>
      </ul>
      <ul technologies>
        <li>React & React Router</li>
        <li>SASS</li>
        <li>Figma</li>
      </ul>
    </app-project>
    <app-project
      [image]="'assets/images/mon-vieux-grimoire.webp'"
      [sourceCodeLink]="'https://github.com/guigui-payfit/mon-vieux-grimoire'"
      [title]="'Mon Vieux Grimoire'"
    >
      <p description>
        Implémentation du back-end d'un site de notation de livres
      </p>
      <ul objectives>
        <li>
          Implémenter un modèle logique de données conformément à une
          documentation technique
        </li>
        <li>Implémenter une authentification avec JWT</li>
        <li>Mettre en oeuvre des opérations CRUD de manière sécurisée</li>
        <li>
          Green code : compression des images téléchargées par l'utilisateur et
          suppression des anciennes images plus utilisées
        </li>
      </ul>
      <ul technologies>
        <li>NodeJS (express)</li>
        <li>MongoDB</li>
        <li>Docker</li>
      </ul>
    </app-project>
  </section>
</main>
<footer>
  <div class="container">
    <h2>Me contacter</h2>
    <div class="row">
      <svg aria-label="email" role="img">
        <title>Email</title>
        <use xlink:href="assets/images/paper-plane.svg#paper-plane"></use>
      </svg>
      <a href="mailto:guillaume-cornu@hotmail.fr"
        >guillaume-cornu&#64;hotmail.fr</a
      >
    </div>
    <div class="row">
      <svg aria-label="smartphone" role="img">
        <title>Email</title>
        <use xlink:href="assets/images/smartphone.svg#smartphone"></use>
      </svg>
      <p>+33 6 48 53 05 74</p>
    </div>
  </div>
</footer>
